<footer class="f6 ph2 tc flex-none">
    <p class="white">Disclaimer: This site is fan made and not affiliated with <a class="orange" href="https://hacktoberfest.digitalocean.com/" target="_blank">Hacktoberfest</a> or <a class="orange" href="https://open.microsoft.com/2018/09/30/join-hacktoberfest-2018-celebration-microsoft/" target="_blank">Microsoft</a>.</p>
</footer>
